<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet">

  <style>
    div{
      background-color: rgb(90, 6, 236);
      width: 75%;
      height: 60px;
      text-align: center;
      color: white;
      margin-left: 10%;
     }
    a{
      color:white;
      text-decoration: none;
      }
   
  </style>
</head>
<body>
  <div> <img
    width="50"
    margine-down="10"
    alt=""
    src="https://th.bing.com/th/id/OIP.Z5Tj8aEHigkYsOBPDqEyHQAAAA?pid=ImgDet&rs=1"/>
 
    customer Manager
    &#160;
    &#160;
    &#160;
    &#160;
    &#160;
    &#160;
    &#160;
    &#160;
    <a href="#" [routerLink]="['/customer']">Customers</a>
    &#160;
    &#160;
    
    <a href="#" [routerLink]="['/orders']">orders</a>
    &#160;
    &#160;
    
    <a href="#" [routerLink]="['/about']">about</a>
  
    &#160;
    &#160;
    <a href="#" [routerLink]="['/login']">login</a>
  </div>
</body>
</html>